*.iml
.gradle
/local.properties
.idea/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
*.zip
Actividad5/.idea/
Actividad5/build/
calculadora/.idea/
calculadora/build/
calculadora2/.idea/
calculadora2/build/
Chollos/.idea/
Chollos/build/
Ciudades/.idea/
Ciudades/build/
LinearLayout2/.idea/
LinearLayout2/build/